<!Doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0">
		<title>Caesar Cipher</title>
	</head>
	<body style='background-color: #476aa3; color: #dddddd'>
		<h1>Welcome to Caesar Cipher!</h1>
		<br>
		<form>
			<textarea name='message' rows='10' cols='50'>Enter your message.</textarea><br><br>
			<label for='shift_factor'>Select a shift factor: </label><input type='number' name='shift_factor' value='10'><br><br>
			<input type='submit' value='Encrypt!'>
		</form>
		<br>
		<p style='font-size: 20px'>Encrypted message: <%= encrypted_message %></p>
	</body>
</html>